/* Add this to your styles.css file */
/* Navbar */
.navbar-brand {
    font: 32px Viga;
}


/* Jumbotron */
.jumbotron {
    background: url(/assets/img/bg.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -1;
}



.social-icons {
    color: #000;
    padding: 10px 0;
}

.social-links {
    font-size: 24px;
    margin-top: 10px;
    word-spacing: 10px;
}

.social-icon {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: #3498db;
}

.icons {
    max-width: 25px;
}

.footer {
    height: 30px;
    margin-top: 10px;
    padding: 3px;
}